<div class="row balance-info-container">
    <div class="col-xs-12">
        <div class="balance-info-title">Balance</div>
        <div class="balance-info-primary">N 979153.36</div>
        <div class="balance-info-secondary">16.500 SP</div>
        <ol class="carousel-items">
            <li></li>
            <li></li>
    </div>
</div>
</div>

<div class="row latest-transactions-header">
    <div class="col-xs-12 header-text">
        Latest Transactions
    </div>
</div>

<!-- List of transactions -->
<div class="row latest-transaction-content" ng-repeat="transaction in transactionsData">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                <div class="transaction-name">{{transaction.name}}</div>
            </div>
            <div class="col-xs-6">
                <div class="transaction-value" ng-class="{'credit':transaction.operation === 'credit','debit':transaction.operation === 'debit'}">
                    {{transaction.value}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="transaction-date">{{transaction.date}}</div>
            </div>
            <div class="col-xs-6">
                <div class="transaction-type">{{transaction.type}}</div>
            </div>
        </div>
    </div>
</div>
