//color variables
$white-font: white;
$gray-font: #959595;
$green-font: #16967A;
$red-font: #E44235;
$purple-font: #8D52BA; //background-colors
$light-gray-background-color: #F1F1F1;
$light-purple-gradient: #B872EF;
$dark-purple-gradient: #77439E;
$dark-purple-background-color: #77439E;
$light-purple-menu-background-color: #F7F0FC;
