// Project custom fonts
@font-face {
font-family: ProximaNovaSoft-Bold;
src: url("../assets/fonts/ProximaNovaSoft/ProximaNovaSoft-Bold.otf") format("opentype");
}

@font-face {
font-family: ProximaNovaSoft-Medium;
src: url("../assets/fonts/ProximaNovaSoft/ProximaNovaSoft-Medium.otf") format("opentype");
}

@font-face {
font-family: ProximaNovaSoft-Regular;
src: url("../assets/fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.otf") format("opentype");
}

@font-face {
font-family: ProximaNovaSoft-Semibold;
src: url("../assets/fonts/ProximaNovaSoft/ProximaNovaSoft-Semibold.otf") format("opentype");
}
